---
name: Development
on:
  push:
    branches:
      - '*'

jobs:
  test:
    # Job name is Greeting
    name: test
    # This job runs on Linux
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
      - name: Check out code
        uses: actions/checkout@v1
      # This step uses GitHub's hello-world-javascript-action: https://github.com/actions/hello-world-javascript-action
      - name: Unit test
        run: make test

